/* BASIC START */
@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('../fonts/BrandonGrotesque-Light.eot');
  src: url('../fonts/BrandonGrotesque-Light.woff2') format('woff2'),
       url('../fonts/BrandonGrotesque-Light.woff') format('woff'),
       url('../fonts/BrandonGrotesque-Light.ttf') format('truetype'),
       url('../fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg'),
       url('../fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

pre {
	padding: 0 !important;
	margin: 0 !important;
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
	background-color: transparent !important;
	border: none !important;

}


body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #3f3f44;
	background-color: #f6f6f6; 
}

iframe {
	width: 100%;
	height: 100%;
}

.row {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.flex__container {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.col-xs-12 {
	margin-left: auto;
	margin-right: auto;
}

.button {
	color: #ffffff;
	background-color: #393f44;
	padding-top: 12px;
	padding-bottom: 12px;
	border: none;
	-webkit-transition: background-color ease-in-out 0.3s;
	-moz-transition: background-color ease-in-out 0.3s;
	-o-transition: background-color ease-in-out 0.3s;
	transition: background-color ease-in-out 0.3s;
}

.button:hover {
	background-color: #525152;
}

.link {
	color: #3f3f44;
	text-decoration: none !important;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
}

.link:hover {
	color: #9ad5f8;
}

/* BASIC END */

/* HEADER START */

.header {
	position: relative;
}

.header__container-fix {
	position: fixed;
	width: 100%;
	height: 120px;
	top: -1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	z-index: 2 !important;
}

.header__container {
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	width: 51%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.header__container_logo {
	width: 160px;
	height: 90px;
	/*background-image: url('../img/header_logo.jpg');*/
}

.header__container_menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 14px;
}

.header__container_menu a:last-child .header__container_menu-item {
	margin-right: 8px;
} 

.header__container_menu-item {
	margin-left: 18px;
	margin-right: 12px;
}

.header__container_menu-item:last-child {
	
}

.lang_box {
	position: relative;
}

.header__item_lang {
	position: absolute;
	top: -10px;
	left: -18px;
	width: 35px;
	height: 19px;
	margin: 0;
	border: 1px solid #000000;
	cursor: pointer;
}

.lang-current {
	display: block;
	z-index: 1;
}

.lang-hidden {
	display: none;
}

.lang-up {
	top: -35px;
}

.lang--en {
	background-image: url('../img/lang_en.png');
	
}

.lang--is {
	background-image: url('../img/lang_is.png');
}

.current-link {
	text-decoration: none !important;
	color: #9ad5f8 !important;
}

.header__menu_wrapper {
	display: none;
}

.header__menu_mob {
	display: none;
	z-index: -10;
}

/* HEADER END */

/* VIDEO START */

.video {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-ms-align-items: stretch;
	align-items: stretch;
	height: 655px;
	margin-top: 120px;
	padding-top: 13px;
}

.video__container {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	height: 100%;

}

.video__container #player,
#player
 {
	position: relative !important;
	width: 52% !important;
	height: 100% !important;
	margin: 0 !important;
	padding-top: 13px !important;
	z-index: 1 !important;
}

#player_display {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	z-index: 1 !important;
}

/* VIDEO END */

/* FORM START */

.form {
	font-family: 'BrandonGrotesque-Light';
	font-style: normal;
	font-size: 20px;
	font-weight: 300;
	background-color: #e5f0f1;
}

.form__container-fix {
	width: 100%;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}

.form__container {
	width: 52%;
	padding-left: 35px;
}

.form__container_desc {
	width: 100%;
}

.form__container_desc-heading {
	margin-bottom: 20px;
}

.form__container_desc-heading h1 {
	font-size: 40px;
}

.form__container_desc-text {
	margin-bottom: 50px;
}

.form__container_form {
	font-size: 16px;
}

.form__row input::placeholder {
	font-family: 'BrandonGrotesque-Light';
	color: #3f3f44;
}

.form__row input::-webkit-input-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}
.form__row input::-moz-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}
.form__row input:-ms-input-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}
.form__row input:-moz-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}

.form__row textarea::placeholder {
	font-family: 'BrandonGrotesque-Light';
	color: #3f3f44;
}

.form__row textarea::-webkit-input-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}
.form__row textarea::-moz-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}
.form__row textarea:-ms-input-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}
.form__row textarea:-moz-placeholder {
	font-family: 'BrandonGrotesque-Light'; 
  	color: #3f3f44;
}


.form__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: stretch;
	align-items: stretch;
	width: 100%;
}

.form__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: stretch;
	align-items: stretch;
}

.form__row--0 {
	margin-bottom: 12px;
}
.form__row--1 {
	justify-content: space-between;
	margin-bottom: 12px;
}

.form__row--2 {
	margin-bottom: 12px;
}

.form__row--3 {
	margin-bottom: 12px;
}

.form__row--4 {
	justify-content: center;
}

.form__item {
	background-color: #e5f0f1;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #393f44;
}

.form__item--1 {
	width: 49%;
}

.form__item--2 {
	width: 49%;
}

.form__item--3 {
	width: 100%;
}

.form__item--4 {
	width: 100%;
	min-height: 150px;
	outline: none;
	resize: none;
	overflow: auto;
}

/* error start */

.search__error {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 15px;
}

.search__error_mail {
	color: red;
	display: none;
}

.search__error_required {
	color: red;
	display: none;
}

.search__error_success {
	color: green;
	display: none;
}

.required {
	border-color: red;
}

/* error end */

/* FORM END */

/* QNA START */

.qna {
	font-family: 'BrandonGrotesque-Light';
	font-style: normal;
	font-size: 20px;
	font-weight: 300;
	background-color: #e8f8fa;
	margin-top: 120px;
	display: none;
}

.qna__container-fix {
	margin-bottom: 80px;
}

.qna__container {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.qna__container_heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 51%;
	margin-top: 7px;
}

.qna__heading-h2 {
	cursor: pointer;
}

.qna__heading-h1 h1 {
	font-size: 40px;
}

.qna__search {
	width: 30%;
	margin-top: 10px;
}

@media (max-width: 510px){
    .qna {
        margin-top: 0;
        background: white;
    }
    .form__main .form__row--1 {
        flex-direction: column;
    }
    .form__main .form__row--1 .form__item {
        width: 100%;
    }
    .form__main .form__row--1 .form__item:first-child {
        margin-bottom: 12px;
    }
    .form,
    .form__item {
        background: white;
    }
}

#search__form {
	display: none;
}

.search__form {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	-ms-align-items: baseline;
	align-items: baseline;
	display: none;
	top: 12px;
}

.search-field {
	position: relative;
}

.search__form input {
	font-size: 16px;
	width: 100%;
	background-color: #e8f8fa;
	border: none;
	border-bottom: 1px solid #393f44;
	padding-bottom: 5px;
}

.search-icon {
	position: absolute;
	top: -6px;
	right: 1px;
	width: 25px;
	height: 25px;
	background-image: url('../img/search.png');
	cursor: pointer;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
	
}

.search-icon--toggle {
	position: absolute;
	top: 10px;
	right: 1px;
	width: 25px;
	height: 25px;
	background-image: url('../img/search.png');
	cursor: pointer;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
	opacity: 0.6;
}

.search-icon:hover {
	opacity: 0.6;
}

.qna__container_question {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	width: 51%;
	border-bottom: 2px solid #393f44;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.qna__quest_heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	width: 100%;
	padding-left: 10px;
	margin-bottom: 5px;
    position: relative;
}

.qna__quest_heading h2 {
	font-size: 25px;
}

.qna__quest_text {
	font-size: 16px;
	padding-left: 10px;
	display: none;
}

.qna__quest_text ol {
	list-style: decimal !important;
	padding-left: 20px;
}

.current-question .qna__quest_text {
	display: block;
}

.qna__cut {
	position: absolute;
	top: 50%;
    right: 0;
	width: 20px;
	height: 10px;
	background-image: url('../img/arrow.png');
	cursor: pointer;
}

.qna__cut-reverse {
	width: 20px;
	height: 10px;
	background-image: url('../img/arrow_rev.png');
	cursor: pointer;
}

.qna__list {
	list-style-type: decimal;
	padding-left: 30px;
}

/* QNA END */

/* FOOTER START */

.footer {
	background-color: #ffffff;
}

.footer__container-fix {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.footer__container {
	width: 52%;
	justify-content: flex-start;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* FOOTER END */

/* BREAKPOINTS START */

@media (max-width:1600px) {

	#player
	 {
		width: 55% !important;
	}

	.header__container,
	.form__container,
	.qna__container_heading,
	.qna__container_question,
	.footer__container {
		width: 55%;
	}

}

@media (max-width:1440px) {

	.video__container #player,
	#player
	 {
		width: 60% !important;
	}

	.header__container,
	.form__container,
	.qna__container_heading,
	.qna__container_question,
	.footer__container {
		width: 60%;
	}

}

@media (max-width:1366px) {

	.video {
		height: 600px;
	}

	.video__container #player,
	#player
	 {
		width: 70% !important;
	}

	.header__container,
	.form__container,
	.qna__container_heading,
	.qna__container_question,
	.footer__container {
		width: 70%;
	}

}

@media (max-width:1280px) {

	.video {
		height: 550px;
	}

	.video__container #player,
	#player
	 {
		width: 80% !important;
	}

	.header__container,
	.form__container,
	.qna__container_heading,
	.qna__container_question,
	.footer__container {
		width: 80%;
	}

}

@media (max-width:1024px) {

	.video {
		height: 450px;
	}

	.video__container #player,
	#player
	 {
		width: 90% !important;
	}

	.header__container,
	.form__container,
	.qna__container_heading,
	.qna__container_question,
	.footer__container {
		width: 90%;
	}

}

@media (max-width:768px) {

	.video {
		height: 360px;
	}

	.video__container-fix {
		padding-left: 0;
		padding-right: 0;
	}

	.video__container #player,
	#player
	 {
		width: 100% !important;
	}


	.header__container {
		width: 100%;
	}

	.form__container {
		width: 100%;
	}

	.footer__container {
		width: 100%;
	}

	.qna__search {
		width: 70%;
	}

	.qna__container_heading {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 100%;
	}

	.qna__heading-h1 {
		margin-bottom: 20px;
	}

	.search__form {
		top: 5px;
	}

	.search-field {
		margin-bottom: 30px;
	}

	.search-icon {
		top: 5px;
	}

	.qna__container_question {
		width: 100%;
	}

}



@media (max-width:510px) {

	.header__container {
		position: relative;
	}

	.header__container-fix {
		position: relative;
	}

	.header__logo_link {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.video {
		height: 255px;
        margin-top: 0;
	}

	.header__container_menu {
		position: relative;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-end;
		align-items: flex-end;
		padding-bottom: 0;
	}

	.header__container_menu-item {
		margin-left: 0;
		margin-right: 10px;
	}

	.header__container_menu a:last-child .header__container_menu-item {
		margin-right: 10px;
	}

	.header__item_lang {
		top: -80px;
	}

	.lang-up {
		top: -100px;
}

	.form__container {
		padding-left: 0;
	}

	.header__item_link {
		display: none;
	}

	.header__menu_wrapper {
	  top:-82px;
	  right: 35px;
	  display: block;
	  width: 25px;
	  height: 25px;
	  cursor: pointer; 
	  position: absolute; }

	.header__wrapper-img {
	  width: 100%;
	  height: 100%;
	  display: block; }

	.header__wrapper-img-off {
	  width: 80%;
	  height: 80%;
	  display: none;
	}

	.header__menu_mob {
		position: absolute;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: flex-start;
		-ms-align-items: stretch;
		align-items: stretch;
		width: 90%;
		top: 55px;
		left: 5%;
		z-index: 10;
		display: none;
	}

	.mob_link {
		text-decoration: none;
		color: #000000;
	}

	.mob_link:visited {
		text-decoration: none;
		color: #000000;
	}

	.mob_link:active {
		text-decoration: none;
		color: #000000;
	}

	.mob_link:focus {
		text-decoration: none;
		color: #000000;
	}

	.mob_link:hover {
		text-decoration: none;
		color: #000000;
	}

	.header__menu_mob .current-link {
		color: #ffffff !important;

	}

	.header__mob_item {
		padding: 10px;
		background-color: rgba(235, 240, 255, 0.9);
	}

	.mob__pnc_item {
		border-top: 1px solid #393f44;
		border-bottom: 1px solid #393f44;
	}

	.header__menu_mob .current-link .header__mob_item {
		background-color: #000000;

	}

}

@media (max-width:320px) {

	.col-xs-12 {

	}

	.video {
		height: 195px;
		width: 100%;
	}

	.video__container-fix {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.video__container {
		margin-left: 0;
		margin-right: 0;
	}

	.header__item_lang {
		left: -20px;
	}

	.header__menu_mob {
		left: 5%;
	}

}

@media (min-width:511px) {
	.header__menu_mob {
		display: none;
	}
}

/* BREAKPOINTS END */

.form__item {
    font-family: Arial, Sans-Serif;
}


/* Animation */
#circleG{
	width:146px;
	margin:auto;
}
.form_loader {
    position: absolute;
    top: 50%;
    left: calc(50% - 146px / 2);
}
.circleG{
	background-color:rgb(255,255,255);
	float:left;
	height:31px;
	margin-left:17px;
	width:31px;
	animation-name:bounce_circleG;
		-o-animation-name:bounce_circleG;
		-ms-animation-name:bounce_circleG;
		-webkit-animation-name:bounce_circleG;
		-moz-animation-name:bounce_circleG;
	animation-duration:2.24s;
		-o-animation-duration:2.24s;
		-ms-animation-duration:2.24s;
		-webkit-animation-duration:2.24s;
		-moz-animation-duration:2.24s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	border-radius:20px;
		-o-border-radius:20px;
		-ms-border-radius:20px;
		-webkit-border-radius:20px;
		-moz-border-radius:20px;
}

#circleG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#circleG_2{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#circleG_3{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}



@keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(0,0,0);
	}

	100%{}
}

@-o-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(0,0,0);
	}

	100%{}
}

@-ms-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(0,0,0);
	}

	100%{}
}

@-webkit-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(0,0,0);
	}

	100%{}
}

@-moz-keyframes bounce_circleG{
	0%{}

	50%{
		background-color:rgb(0,0,0);
	}

	100%{}
}
