/* FONTS

font-family: 'Open Sans', sans-serif; [300,400,600,700,800] 

font-family: font122747;

*/

/* BASIC START */

* {
	direction: rtl;
}

pre {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
	font-family: inherit !important;
	font-size: inherit !important;
	line-height: inherit !important;
	background-color: transparent !important;
	border: none !important;

}

body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #3f3f44;
	background-color: #f6f6f6; 
}

.row {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.flex__container {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.col-xs-12 {
	margin-left: auto;
	margin-right: auto;
}

.button {
	color: #ffffff;
	background-color: #393f44;
	padding-top: 15px;
	padding-bottom: 15px;
	border: none;
}

.link {
	color: #3f3f44;
	text-decoration: none;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
}

.link-current {
	color: #9ad5f8;
}

.link:hover {
	color: #9ad5f8;
	text-decoration: none;
}

/* BASIC END */

/* HEADER START */

.header {
	position: relative;
}

.header__container-fix {
	position: fixed;
	width: 100%;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	z-index: 2;
}

.header__container {
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.header__container_logo {
	width: 160px;
	height: 90px;
	background-image: url('../img/header_logo.jpg');
}

.header__container_menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.header__container_menu-item {
	margin-left: 15px;
	margin-right: 15px;
}

.header__container_menu-item:last-child {
	margin-right: 0;
}

.header__item_lang {
	width: 35px;
	height: 19px;
	left: -1px !important;
	background-image: url('../img/lang_en.jpg');
	margin: 0;

}

.header__item_link {

}

/* HEADER END */

/* VIDEO START */

.video {
	height: 770px;
}

/* VIDEO END */

/* FORM START */

.form {
	font-family: font122747;
	font-style: normal;
	font-size: 20px;
	font-weight: 300;
	background-color: #e5f0f1;
}

.form__container-fix {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
}

.form__container {
	width: 70%;
}

.form__container_desc {
	width: 100%;
}

.form__container_desc-heading {
	font-size: 40px;
	margin-bottom: 20px;
}

.form__container_desc-text {
	margin-bottom: 50px;
}

.form__container_form {
	font-size: 16px;
}

.form__main {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: stretch;
	align-items: stretch;
	width: 100%;
}

.form__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: stretch;
	align-items: stretch;
}

.form__row--1 {
	justify-content: space-between;
	margin-bottom: 15px;
}

.form__row--2 {
	margin-bottom: 15px;
}

.form__row--3 {
	margin-bottom: 15px;
}

.form__row--4 {
	justify-content: center;
}

.form__item {
	background-color: #e5f0f1;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	border: 1px solid #393f44;
}

.form__item--1 {
	width: 49%;
}

.form__item--2 {
	width: 49%;
}

.form__item--3 {
	width: 100%;
}

.form__item--4 {
	width: 100%;
	min-height: 120px;
	outline: none;
	resize: none;
	overflow: auto;
}

/* FORM END */

/* QNA START */

.qna {
	font-family: font122747;
	font-style: normal;
	font-size: 20px;
	font-weight: 300;
	background-color: #e8f8fa;
}


.qna__container {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.qna__container_heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	width: 70%;
	padding-top: 35px;
	margin-bottom: 30px;
}

.qna__heading-h1 {
	font-size: 40px;
}

.qna__search {
	width: 30%;
	margin-top: 10px;
}

#search__form {
	display: none;
}

.search__form {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	-ms-align-items: baseline;
	align-items: baseline;
	display: none;
}

.search-field {
	position: relative;
}

.search__form input {
	font-size: 16px;
	width: 100%;
	background-color: #e8f8fa;
	border: none;
	border-bottom: 1px solid #393f44;
	padding-bottom: 5px;
}

.search-icon {
	position: absolute;
	top: -1px;
	right: 1px;
	width: 25px;
	height: 25px;
	background-image: url('../img/search.png');
	cursor: pointer;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
	
}

.search-icon--toggle {
	position: absolute;
	top: -1px;
	right: 1px;
	width: 25px;
	height: 25px;
	background-image: url('../img/search.png');
	cursor: pointer;
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	-o-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
	opacity: 0.6;
}

.search-icon:hover {
	opacity: 0.6;
}

.search__form input::placeholder {
	padding-right: 30px;
}

.search__form input::-webkit-input-placeholder {
	 
 padding-right: 30px;
}
.search__form input::-moz-placeholder {
	 
 padding-right: 30px;
}
.search__form input:-ms-input-placeholder {
	 
 padding-right: 30px;
}
.search__form input:-moz-placeholder {
	 
 padding-right: 30px;
}

.qna__container_question {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
	width: 70%;
	border-bottom: 3px solid #393f44;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.qna__quest_heading {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	width: 100%;
	margin-bottom: 20px;
}

.qna__quest_text {
	font-size: 16px;
	display: none;
}

.qna__quest_text ol {
	list-style: decimal !important;
	padding-right: 20px;
}

.qna__quest_text ol li {
	
}

.qna__heading-h2 {
	font-size: 25px;
}

.qna__cut {
	width: 20px;
	height: 10px;
	background-image: url('../img/arrow.png');
	cursor: pointer;
    right: initial !important;
    left: 0;
}

.qna__cut-reverse {
	width: 20px;
	height: 10px;
	background-image: url('../img/arrow_rev.png');
	cursor: pointer;
}

.qna__list {
	list-style-type: decimal;
	padding-left: 30px;
}

/* QNA END */

/* FOOTER START */

.footer {
	height: 65px;
	background-color: #ffffff;
    width: 90%;
}

.footer__container-fix {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.footer__container {
	width: 70%;
	justify-content: flex-start;
	margin-top: 10px;
}

/* FOOTER END */

/* BREAKPOINTS START */

@media (max-width:768px) {

	.header__container {
		width: 100%;
	}

	.form__container {
		width: 100%;
	}

	.footer__container {
		width: 100%;
	}

	.qna__search {
		width: 70%;
	}

	.qna__container_heading {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 100%;
	}

	.qna__heading-h1 {
		margin-bottom: 20px;
	}

	.search-field {
		margin-bottom: 30px;
	}

	.qna__container_question {
		width: 100%;
	}

}

@media (max-width:510px) {

	.header__container {
	}

	.header__container_menu {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-end;
		align-items: flex-end;
		padding-bottom: 0;
	}

	.header__container_menu-item {
		margin-left: 0;
		margin-right: 0;
	}

	.header__item_lang {
		margin-bottom: 5px;
	}
	
	.header__menu_wrapper {
		right: -80% !important;
	}
	
    .header__item_lang {
        left: -20px !important;
    }
}

@media (max-width:320px) {
    
    

}

/* individual: ie */
.form__item:-ms-input-placeholder { font-family: Arial, Sans-Serif; color: #9e9e9e !important; } /* ie */

/* individual: webkit */
.form__item::-webkit-input-placeholder { font-family: Arial, Sans-Serif; color: #9e9e9e !important;}

/* individual: mozilla */
.form__item::-moz-placeholder { font-family: Arial, Sans-Serif; color: #9e9e9e !important;}
.form__item:-moz-placeholder { font-family: Arial, Sans-Serif; color: #9e9e9e !important;}

/* BREAKPOINTS END */